<div class="flex h-screen">
  <!-- Mobile Toggle Button -->
  <button
    (click)="toggleSidebar()"
    class="md:hidden fixed top-4 left-4 z-50 p-2 bg-white rounded shadow"
  >
    <svg
      *ngIf="!isSidebarOpen"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
    <svg
      *ngIf="isSidebarOpen"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>

  <!-- Sidebar -->
  <aside
    [ngClass]="{
      '-translate-x-full': !isSidebarOpen,
      'translate-x-0': isSidebarOpen
    }"
    class="fixed inset-y-0 left-0 transform transition duration-300 ease-in-out w-64 bg-white shadow-lg z-40 md:relative md:translate-x-0"
  >
    <div class="p-4 mt-[2.1875rem]">
      <!-- <div class="text-2xl font-bold mb-6">Chrissain Investment Portal</div> -->
      <ul class="space-y-4">
        <li *ngIf="role === 'user'">
          <a
            routerLink="/dashboard"
            class="block px-4 py-2 text-gray-700 hover:bg-blue-100 rounded transition duration-200"
            >Dashboard</a
          >
        </li>
        <li *ngIf="role === 'admin'">
          <a
            routerLink="/admin"
            class="block px-4 py-2 text-gray-700 hover:bg-blue-100 rounded transition duration-200"
            >Admin</a
          >
        </li>
        <li>
          <button
            (click)="logout()"
            class="w-full text-left block px-4 py-2 text-red-600 hover:bg-red-100 rounded transition duration-200"
          >
            Logout
          </button>
        </li>
      </ul>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 bg-gray-50 p-3 overflow-auto">
    <router-outlet></router-outlet>
  </main>
</div>
